@import "tailwindcss";

@theme {
  /* Backgrounds */
  --color-primary-bg: #fff;
  --color-secondary-bg: rgb(255, 82, 0);
  --color-tertiary-bg: rgb(246, 246, 246);
  --color-off-white-bg: #dcdcdc;
  --color-background-gray: #e9ecee;

  /* Text Colors */
  --color-primary: #02060c;
  --color-secondary: #fff;
  --color-dull: rgba(25, 25, 25, 0.8);
  --color-off-white: #bdbdbd;
  --color-off-white-font: #636363;

  /* Accent Colors */
  --color-primary-accent: rgb(255, 82, 0);
  --color-secondary-accent: rgb(9, 120, 9);
  --color-tertiary-accent: #1ba672;
  --color-tertiary-hover-accent: #0a965f;

  /* Font */
  --font-primary: Gilroy, Arial, "Helvetica Neue", sans-serif;
}

@layer components {
  .nav-item {
    @apply text-base font-semibold leading-5.25 tracking-[-0.4px] text-secondary;
  }

  .input-container {
    @apply bg-primary-bg w-full h-16 rounded-2xl flex justify-center items-center gap-4 p-4 text-dull;
  }

  .input {
    @apply w-full border-none text-base font-medium outline-0 leading-5.25;
  }
}
